* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*body {
    background-color: #000;
}*/

.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#c568ae, #cfa3cd, #db97cc, #c568ae);
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
}

nav img {
    width: 40px;
}

.nav-links ul {
    flex: 1;
    text-align: left;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 300;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 8px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.container {
    width: 100%;
    margin: auto;
    padding: 2% 6%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.col {
    flex-basis: 18%;
    flex-grow: 1;

}

.col-2 {
    flex-basis: 80%;
    flex-grow: 1;
}

.col img {
    width: 185px;
    border-radius: 60%;
}

.social-media {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.social-media img {
    width: 30px;
    border-radius: 50%;
    margin-left: -11px;
}

.social-media h1 {
    font-size: 35px;
    margin-right: 30px;
}

.col hr {
    border: 0;
    height: 4px;
    background: #000;
    margin: 5px 0;
    width: 93%;
}

.col p {
    margin-top: 12px;
    font-size: 17px;
    line-height: 30px;
}

.col button {
    margin-top: 30px;
}

.btn-review {
    background: transparent;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-review img {
    width: 21px;
    margin-left: 10px;
}

.col-info {
    margin-bottom: 10%;
    padding-right: 50%;
    position: relative;
}

.col-info h1 {
    font-size: 50px;
    line-height: 60px;
    margin-left: 40px;
}

.col-info p {
    margin-left: 2%;
    margin-top: 35px;
    line-height: 2;
    text-align: center;
}

.btn-container {
    margin: 30px 30px;
    /*position: relative;*/
}

.col-info button {
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-dark {
    background: #000;
    color: #fff;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    margin-left: 40px;
}

.btn-container img {
    cursor: pointer;
}

.btn-light {
    background: transparent;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.btn-light img {
    width: 20px;
    margin-left: 10px;
}

.col-2 .img {
    min-width: 50%;
    max-width: 70%;
    position: absolute;
    right: 60px;
    bottom: 0%;
    top: 30%;
    z-index: 1;
}

.btn-container .line {
    position: absolute;
    width: 150px;
    bottom: 0;
    top: 88%;
    left: 26%;
}

.selection {
    max-height: 100%;
    width: 100%;
    background: linear-gradient(#060611, #05050e);
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.option a img {
    position: relative;
}

.grooming {
    position: absolute;
    background: #fff;
    padding: 5px 10px 5px 10px;
    border-top-style: solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 30px;
}

.accessories {
    position: absolute;
    background: #fff;
    padding: 5px 10px 5px 10px;
    border-top-style: solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 30px;
    right: 10px;
}

.food {
    position: absolute;
    background: #fff;
    padding: 5px 10px 5px 10px;
    border-top-style: solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 30px;
    right: 10px;
}

.label {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    padding: 0 5px 0;

}

.label #section {
    margin-bottom: 4%;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
}

.about {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#c568ae, #cfa3cd, #db97cc, #c568ae);
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.col-3 {
    flex-basis: 50%;
    flex-grow: 1;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.col-3 .img-1 {
    width: 79%;
    margin: 28px 50px;
    z-index: -1;
    opacity: 0.9;
}

.paw {
    z-index: -5;
    position: absolute;
    left: 40%;
    top: 74px;
    transform: translateX(-40%);
    width: 564px;
    opacity: 10;
}

.col-4 {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0 5px;
    margin: 50px 0;
}

.col-4 h5 {
    color: #801869;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: -4px;
    padding: 6px 0;
}

.col-4 h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 50px;
}

.col-4 p {
    line-height: 2;
    margin-bottom: 40px;
    text-align: inherit;
}

ul li {
    list-style-image: url(images/check.png);
    margin-right: 82px;
    line-height: 2;
}

.clinic-info {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
}

.booking {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#060611, #05050e);
    display: flex;
}

.booking .col-1 {
    flex-basis: 40%;
    flex-grow: 1;
    position: relative;
    margin-bottom: 90px;
    margin-left: 3%;
}

.booking .col-2 {
    flex-basis: 58%;
    flex-grow: 1;
    padding: 35px 6%;
    color: #fff;
}

.img-5 {
    width: 350px;
    position: absolute;
    top: 150px;
    left: 125px;
    z-index: 3;
}

.shape1 {
    width: 130%;
    z-index: 2;
    opacity: 0.9;
}

.dog-img {
    width: 48%;
    position: absolute;
    top: 300px;
    left: 75%;
    border-radius: 15px;
}

.comment-img {
    width: 50%;
    position: absolute;
    left: 40%;
    top: 65%;
}

.booking .col-2 h1 {
    font-size: 45px;
    margin-top: 165px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.booking .col-2 p {
    line-height: 2;
    margin-top: 28px;
    margin-left: 20%;
}

.paw-img {
    width: 40px;
    position: absolute;
    left: 58%;
    bottom: -182%;
    transform: rotate(-50deg);
}

.btn-book {
    margin-top: 30px;
    margin-left: 120px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 22px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    color: #fff;
    background: #7a0661;
    cursor: pointer;
    display: block;
}

.row {

    min-height: 100%;
    display: flex;

    /*justify-content: space-around;*/
    background: linear-gradient(#05050e, #05050e);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    line-height: 42px;
}

.row h2 {
    font-size: 30px;
}

.row p {
    font-size: 18px;
}

.row div {
    padding: 12px 13px;
    border: 2px solid #060611;
    background: #05050e;
    margin-left: 188px;
}

.vacation {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#05050e, #05050e);
    display: flex;
    padding: 2% 6%;
}

.vacation .col-1 {
    flex-basis: 40%;
    flex-grow: 1;
    color: #fff;
}

.vacation .col-1 h1 {
    font-size: 45px;
    line-height: 56px;
    font-weight: 600;
    margin-left: 65px;
    margin-top: 20%;
}

.vacation .col-1 p {
    line-height: 2;
    margin-left: 65px;
    margin-top: 28px;
}

.vacation-col {
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-left: 43px;
    font-size: 18px;
}

.vacation-col img {
    width: 22px;
    margin-left: 20px;
}

.btn-view {
    margin-top: 30px;
    margin-left: 65px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 22px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    color: #fff;
    background: #7a0661;
    cursor: pointer;
    display: block;
}

.vacation .col-2 {
    flex-basis: 58%;
    flex-grow: 1;
    position: relative;
}

.vacation .col-2 .img-15 {
    width: 80%;
    margin-left: 78px;
    margin-top: 75px;
    z-index: 2;
    opacity: 0.9;

}

.vacation .col-2 .pet-friendly {
    width: 65px;
    position: absolute;
    bottom: 0;
    right: 65%;
    top: 30%;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(25px, 0);
    }

    50% {
        transform: translate(0px, 25px);
    }

    100% {
        transform: translate(25px, 0);
    }
}

.vacation .col-2 .triangle-left {
    width: 150px;
    position: absolute;
    transform: rotate(-50deg);
    bottom: 19%;
    left: 20%;
    opacity: 10;
    z-index: 1;
}

.vacation .col-2 .circle {
    width: 120px;
    position: absolute;
    left: 65%;
    bottom: 68%;
    opacity: 0.9;
}

.vacation .col-2 .pet-friendly1 {
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 73%;
    top: 50%;
    transform: rotate(50deg);
    animation: move1 2s linear infinite;
}

@keyframes move1 {
    0% {
        transform: translate(-15px, 5);
    }

    50% {
        transform: translate(5px, -15px);
    }

    100% {
        transform: translate(-15px, 5);
    }
}

.middle {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#05050e, #05050e);
}

.tag h1 {
    text-align: center;
    color: #fff;
    font-size: 45px;
}

.tag h1 span {
    color: #7a0661;
}

.choose {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 520px;
}

.choose p {
    color: #fff;
    font-size: 14px;
}


#monthly {
    position: absolute;
    left: 44%;
    background: #7a0661;
    width: 45px;
    border-radius: 15px;
    padding: 3px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#monthly span {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

.yearly {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.btn-yearly {
    margin-left: 19px;
    padding: 5px 18px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    color: #fff;
    background: #7a0661;
    cursor: pointer;
    display: block;
}

.yearly p {
    margin-left: 10px;
}

.discount-btn {
    margin-top: 30px;
    margin-left: 152px;
    padding: 12px 26px;
    border: 0;
    outline: 0;
    border-radius: 18px;
    color: #fff;
    background: #7a0661;
    display: block;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: -4% 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
}

.price-col {
    background: #7a0661;
    padding: 10% 12%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.price-col p {
    font-size: 28px;
    font-weight: 600;
}

.price-col h3 {
    font-size: 30px;
    margin: 10px 0 10px;
    font-weight: 600;
}

.price-col span {
    font-size: 12px;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #fff;
    list-style: none;
}

.price-col ul li {
    margin-right: 15px;
    margin: 10px 0;
    list-style-image: none;
}

.price-col ul li::before {
    content: '\2713';
    color: #fff;
    font-weight: bold;
    margin-right: 8px;
}

.discount {
    border: 0;
    outline: none;
    border-radius: 13px;
    padding: 6px 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-plan1 {
    width: 95%;
    border: 0;
    outline: 0;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.price-col-transparent {
    background: #fff;
    padding: 10% 12%;
    border-radius: 10px;
    color: #000;
    text-align: center;
}

.price-col-transparent p {
    font-size: 28px;
    font-weight: 600;
}

.price-col-transparent h3 {
    font-size: 30px;
    margin: 10px 0 10px;
    font-weight: 600;
}

.price-col-transparent span {
    font-size: 12px;
    color: #7a0661;
}

.price-col-transparent ul {
    text-align: left;
    margin: 20px 0;
    color: #000;
    list-style: none;
}

.price-col-transparent ul li {
    margin: 10px 0;
    list-style-image: none;
}

.price-col-transparent ul li::before {
    content: '\2713';
    color: #7a0661;
    font-weight: bold;
    margin-right: 8px;
}

.discount2 {
    border: 0;
    outline: none;
    border-radius: 13px;
    padding: 6px 18px;
    font-weight: bold;
    background: #ddd;
    margin-bottom: 30px;
}

.btn-plan2 {
    background: #7a0661;
    color: #fff;
    width: 95%;
    border: 0;
    outline: 0;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.testimonial {
    background: linear-gradient(#05050e, #05050e);
    display: flex;
}

.testimonial-col1 {
    flex-basis: 60%;
    flex-grow: 1;
    color: #fff;
    padding: 8% 11%;
}

.testimonial p {
    font-size: 20px;
    margin-left: 6px;
}

.testimonial h1 {
    font-size: 38px;
    font-weight: 300;
    margin-left: 6px;
    margin-top: 30px;
}

.testimonial-info i {
    color: rgba(236, 163, 5, 0.712);
    font-size: 18px;
    margin: 38px 9px;
}

.client-testimonial p {
    font-size: 16px;
    font-weight: 200;
    line-height: 2;
}

.client-name {
    display: flex;
    align-items: center;
    position: relative;
}

.client-name span {
    width: 100px;
    outline: 1px solid;
    position: absolute;
    top: 56px;
    left: 10px;
}

.client-name h1 {
    position: absolute;
    font-size: 28px;
    left: 26%;
    top: 5px;
}

.client-name p {
    font-size: 16px;
    position: absolute;
    left: 63%;
    top: 46px;
}


.testimonial-col2 {
    flex-basis: 40%;
    flex-grow: 1;
}

.testimonial-col2 img {
    position: relative;
}

.client-img {
    width: 50%;
    position: absolute;
    bottom: 20%;
    z-index: 2;
    left: 6%;
    top: 13%;
}

.bg-round {
    position: absolute;
    width: 60%;
    bottom: 28%;
    z-index: 1;
    opacity: 0.5;
}

.testimonial-col2 .span-a {
    width: 20px;
    height: 5%;
    background: #460c41;
    position: absolute;
    border-radius: 100%;
    transform: rotate(-30deg);
    right: 37%;
    top: 644%;
}

.testimonial-col2 .span-b {
    width: 20px;
    height: 5%;
    background: #460c41;
    position: absolute;
    border-radius: 100%;
    transform: rotate(-40deg);
    right: 39%;
    top: 647%;
}

.testimonial-col2 .span-c {
    width: 20px;
    height: 5%;
    background: #460c41;
    position: absolute;
    border-radius: 100%;
    transform: rotate(-50deg);
    right: 40%;
    top: 651%;
}

.testimonial-col2 .span-d {
    width: 20px;
    height: 5%;
    background: #460c41;
    position: absolute;
    border-radius: 100%;
    transform: rotate(-90deg);
    right: 41%;
    top: 655%;
}

.bottom-design {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bottom-design .circle1 {
    width: 10px;
    height: 10px;
    border-radius: 45%;
    background: #fff;
    position: absolute;
    left: -700px;
    top: 83%;
}

.bottom-design .circle2 {
    width: 10px;
    height: 10px;
    border-radius: 40%;
    background: #fff;
    position: absolute;
    left: -720px;
    top: 83%;
}

.bottom-design .circle3 {
    width: 10px;
    height: 10px;
    border-radius: 40%;
    background: #fff;
    position: absolute;
    left: -620px;
    top: 83%;
}

.bottom-design .design-long {
    width: 50px;
    height: 10px;
    border-radius: 18%;
    background: #7a0661;
    position: absolute;
    left: -680px;
    top: 83%;
}

.footer-hr {
    background: #999;
    height: 1px;
    width: 77%;
    border: 0;
    margin: 710px 150px 20px;
    position: absolute;
}

.footer {
    width: 100%;
    background: linear-gradient(#05050e, #05050e);
    color: #fff;
    padding: 0 134px 5px;
}

.footer-row {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}



.footer-col {
    flex-basis: 26%;
    padding: 2px 2px 10px;
    margin-left: 12px;
}

.footer-col:nth-child(2), .footer-col:nth-child(3), .footer-col:nth-child(4) {
    flex-basis: 20%;
}

.footer-col div {
    display: flex;
    align-items: center;
}

.footer-col h5 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 12px;
}

.footer-col p {
    margin-top: 12px;
    /*line-height: 25px;*/
}

.social-medias .fa-brands {
    margin-top: 18px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    line-height: 25px;
    color: #7a0661;
}

.quick-links ul {
    margin-top: 4px;
}

.quick-links ul li {
    list-style: none;
}

.quick-links ul li a {
    text-decoration: none;
    color: #fff;
}

.copyright {
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
}